<h3>RFX title: Catalyst for data delivery</h3>
<hr>
<br>
<h4>Bid Due Date:</h4>
<br>
<div><div class="header"><b>Technical:</b></div><div class="dateinput"><input matInput [matDatepicker]="picker" placeholder="Choose a date"><mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle><mat-datepicker #picker></mat-datepicker></div></div>
<div><div class="header"><b>Commercial:</b></div><div class="dateinput"><input matInput [matDatepicker]="pickerb" placeholder="Choose a date"><mat-datepicker-toggle matSuffix [for]="pickerb"></mat-datepicker-toggle><mat-datepicker #pickerb></mat-datepicker></div></div>

