<table>
  <tr>
    <td class="td-label">Add Supplier</td>
    <td><input type="text"><button mat-stroked-button id="submit-btn">Submit</button><button mat-stroked-button>Add new supplier</button></td>
  </tr>
  <tr>
      <td class="td-label">Collaboration Setup</td>
      <td><input type="text"><button mat-stroked-button>Add Names</button></td>
  </tr>
  <tr>
      <td class="td-label">Technical Specification</td>
      <td><input type="text"><mat-icon id="add-icon">add_box</mat-icon></td>
  </tr>
  <tr>
      <td class="td-label"></td>
      <td><button mat-stroked-button style="margin-left:0">Preview</button><button mat-stroked-button>Save as Draft</button><button mat-stroked-button id="rfx-btn">Create RFX</button></td>
  </tr>
</table>