/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.fill-span{
    float: right;
}
.mat-toolbar.mat-primary{
    background:#4a4646;
}
.button-td > .mat-flat-button{
    background: black;
    color:white;
    margin: 0 5px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
    padding-top:0px;
}
